:root {
 --Outfit-family: Outfit, sans-serif;
 --light-weight: 400;
 --bold-weight: 700;
 --white: hsl(0, 0%, 100%);
 --light-gray: hsl(212, 45%, 89%);
 --grayish-blue: hsl(220, 15%, 55%);
 --dark-blue: hsl(218, 44%, 22%);
}

* { /* this centralised all elements*/
padding: 0; 
margin: 0; 
}

body{
  background: var(--light-gray);
  display: flex;
  width: 100%;
}

.container{
  background: var(--white);
  border-radius: 10px;
  text-align: center;
  width: 190;
  position: relative;
  inset: 50% 0 0 50%; /*It defines an inset rectangle.*/
  display: flex;
}

.qr-code-image {
  width: 250px;
  height: 250px;
  z-index: 2;
  display: flex;
  border-radius: 10px;
  position: relative;
  left: 520px;
  top: 130px;
}

.qr-code-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color:hsl(218, 44%, 22%);
  font-size: 16px;
  display: flex;
  z-index: 2;
  white-space: nowrap;
}

.subtitle {
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%);
  text-align: center;
  margin: 0.1px;
  padding: 8px;
  font-weight: 500;
  font-size: 8px;
}


/*.box {
height: 400px;
width: 270px;
padding: auto;
margin: auto;
display: flex;
border-radius: 10px;
background: hsl(0, 0%, 100%);
box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
position: relative;
right: 460px;
}

