@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&display=swap');


body{
  background-color:hsl(0, 12%, 93%);
  width: 100%;
  margin: 0 auto;
  display: flex;

}

.container{
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  width: 85%;
  height: 590px;
  margin: auto;
  padding: auto;
}

.qr-code-image {
  width: 250px;
  display: flex;
  border-radius: 10px;
  margin-top: 5px;
}

.qr-code-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color:  hsl(218, 44%, 22%);
  text-align: center;
  font-size: 18px;
  margin: auto;
  padding: auto;
}

.subtitle {
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%);
  text-align: center;
  margin: auto;
  padding: auto;
  font-weight: 500;
  font-size: 10px;
}


.box {
height: 370px;
width: 270px;
padding: auto;
margin: auto;
display: flex;
justify-content: center;
border-radius: 10px;
background: hsl(0, 0%, 100%);
box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);


}

.attribution {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  position: relative;
  top: 130px;
  left: 370px;
  display: flex;

}